body {
    overflow-x: hidden; 
 }
.MainTitle{
    font-size: 4em;
    color:white;
    text-shadow: black 0.1em 0.1em 0.4em;
}
header{
    background-image:url(../content/background-test.png);
    background-repeat:no-repeat;
    background-position:bottom;
    margin: -10px ;
    margin-top: -2.75em;
    padding-top: 2em;
    padding-bottom: 2em ;
    text-align: center;

}
.listAcceuil li{
    display: inline;
    margin-left: 7em;
    margin-right: 7em;
    font-size: 1.5em;

}
.listAcceuil{
    text-align: center;
    margin-top: 25px;
}
#trait_dessus
{
border-top: 1px solid #000;
width : 700px;
}
#I{
    font-size: 2em;
}
p, .listJobs{
    font-size: 1.2em;
}

.footer1{
	border-top:1px solid black;
}